html {
    font-family: Tahoma, sans-serif;
}

body {
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
}

.header img {
    margin-top: 18px;
    width: 30px;
    height: auto;
}

.shop div p {
    margin-bottom: 10px;
}

.readmore {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(217, 232, 179);
    color: rgb(4, 56, 4);
    display: inline-block;
    padding: 7px 14px;
}

.news {
    background-color: rgb(2, 39, 2);
    color: aliceblue;
    padding: 15px;
    margin-top: 0;
}

.news-item::after {
    content: "";
    display: block;
    width: 70%;
    border-bottom: 1px solid white;
    margin: 15px auto 0;
}

.new {
    margin-top: 0;
    color: rgb(189, 212, 155);
}

.describe {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.describe img {
    width: 100%;
    height: auto;

}

.product {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product img {
    width: 120px;
    height: auto;

}

.text {
    display: flex;
    flex-direction: column;
}

.text h3 {
    margin: 0;
    line-height: normal;
}

.products {
    display: block;
    margin-top: 20px;
}

.grid {
    display: block;
}

@media(min-width: 768px) {
    body {
        margin: 20px;
    }

    .picture {
        width: 100%;
    }
}

@media(min-width: 992px) {
    .header h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }

    .header img {
        width: 3rem;
    }

    .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        align-items: start;
    }

    .grid .news {
        padding-left: 30px;
    }

    .shop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .shop h2 {
        font-size: 3rem;
        margin-top: 0;
    }

    .shop div p {
        margin-bottom: 10px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .product {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .product img {
        width: 100%;
        max-width: 170px;
    }

    .news {
        margin-top: 0;
        margin-bottom: 30px;
    }
}